* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra_menu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    cursor: pointer;
}

.barra_menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(211, 11, 201);
    margin-top: 6px;
    transition: all 600ms;
    transform-origin: 0px 100%;
}

.linea_1Animacion {
    transform: rotate(45deg) translate(-2px, 1px);
}

.linea_2Animacion {
    opacity: 0;
    margin-left: -35px;
}

.linea_3Animacion {
    transform: rotate(-45deg) translate(-4px, 3px);
}